@charset "utf-8";
/*base*/
body, h1, h2, h3, h4, h5, h6, section, ul , ol, dl, dt, dd, p, button{margin:0;padding:0;font-family: 'Noto Sans KR',sans-serif;font-size:14px}
li{list-style:none}
a{color:#333;text-decoration:none}
:root{
  --bagicColor:#ddd;
  --activeColor:#efab41;
}
.wrap{width:600px;margin:0 auto}

/*tab*/
.tab .tab_list{display:flex}
.tab .tab_list>li{flex:1;height:50px;}
.tab .tab_list>li a{display:block;background-color:var(--bagicColor);text-align:center;line-height:50px}
.tab .tab_list>.on a{border-color:var(--activeColor);background-color:var(--activeColor)}
.tab .tab_panel{display:none}
.tab .tab_panel.on{display:block}

/*scroll-tab*/
.scroll_area{width:360px;}
.scroll_list{display:flex;overflow-x:auto;position:relative}
.scroll_list>li{flex:1;white-space:nowrap;margin-left:5px}
.scroll_list>li:first-child{margin-left:0}
.scroll_list>li>a{display:block;height:35px;padding:0 10px;border:1px solid var(--bagicColor);border-radius:50px;background-color:#fff;line-height:35px}
.scroll_list>li>a:before{content:'#'}
.scroll_list>.on a{border-color:var(--activeColor);background-color:var(--activeColor)}
.scroll_area .list_wrap{display:none;padding:1rem 0}
.scroll_area .list_wrap.on{display:block}